@using AntiTruble.ClassLibrary.Enums;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Сервисный центр "Антитрабл"</title>
    <style type="text/css">
        input[type=text] {
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        .mySuccess {
            background-color: #4CAF50;
            color: white;
            padding: 2px 5px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 5px;
        }

        .myDanger {
            background-color: #DC143C;
            color: white;
            padding: 2px 5px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 5px;
        }
    </style>
    <environment include="Development">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AntiTruble™</a>
              

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    @if (ViewBag.Role == PersonTypes.Administator)
                    {
                        <li><a asp-area="" asp-controller="Person" asp-action="Users">Менеджмент пользователей</a></li>
                        <li><a asp-area="" asp-controller="Report" asp-action="Index">Отчет по заявкам</a></li>
                    }
                    @if (ViewBag.Role == PersonTypes.None)
                    {
                        <li><a asp-area="" asp-controller="Person" asp-action="Login">Войти</a></li>
                        <li><a asp-area="" asp-controller="Person" asp-action="Register">Регистрация</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Equipment" asp-action="Index">Менеджмент устройств</a></li>
                        <li><a asp-area="" asp-controller="Repairs" asp-action="RepairList">Заявки</a></li>
                        <li><a asp-area="" asp-controller="Person" asp-action="Logoff">Выйти</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @if (ViewBag.Role != PersonTypes.None)
        {
            <a class="navbar-brand">@ViewBag.UserName</a>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Сервисный центр "Антитрабл"</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
