AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.dll
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.csprojAssemblyReference.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.csproj.FileListAbsolute.txt
AntiTruble/obj/AntiTruble.csproj.nuget.cache
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.runtimeconfig.json
.vs/AntiTruble/v15/Server/sqlite3/storage.ide
.vs/AntiTruble/v15/Server/sqlite3/db.lock
.vs/AntiTruble/v15/.suo
AntiTruble/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AntiTruble/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.pdb
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.AssemblyInfo.cs
AntiTruble/obj/AntiTruble.csproj.nuget.g.targets
.vs/config/applicationhost.config
.vs/AntiTruble/v15/Server/sqlite3/storage.ide-wal
.vs/AntiTruble/v15/Server/sqlite3/storage.ide-shm
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.csproj.CoreCompileInputs.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.assets.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.RazorTargetAssemblyInfo.cache
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.pdb
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.dll
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.deps.json
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.RazorAssemblyInfo.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.AssemblyInfoInputs.cache
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.runtimeconfig.dev.json
AntiTruble/obj/project.assets.json
AntiTruble/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.RazorAssemblyInfo.cs
AntiTruble/obj/AntiTruble.csproj.nuget.g.props
