AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.dll
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.csprojAssemblyReference.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.csproj.FileListAbsolute.txt
AntiTruble/obj/AntiTruble.csproj.nuget.cache
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.runtimeconfig.json
.vs/AntiTruble/v15/Server/sqlite3/storage.ide
.vs/AntiTruble/v15/Server/sqlite3/db.lock
.vs/AntiTruble/v15/.suo
AntiTruble/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AntiTruble/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.pdb
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.AssemblyInfo.cs
AntiTruble/obj/AntiTruble.csproj.nuget.g.targets
.vs/config/applicationhost.config
.vs/AntiTruble/v15/Server/sqlite3/storage.ide-wal
.vs/AntiTruble/v15/Server/sqlite3/storage.ide-shm
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.csproj.CoreCompileInputs.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.assets.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.RazorTargetAssemblyInfo.cache
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.pdb
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.dll
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.deps.json
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.RazorAssemblyInfo.cache
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.AssemblyInfoInputs.cache
AntiTruble/bin/Debug/netcoreapp2.1/AntiTruble.runtimeconfig.dev.json
AntiTruble/obj/project.assets.json
AntiTruble/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AntiTruble/obj/Debug/netcoreapp2.1/AntiTruble.RazorAssemblyInfo.cs
AntiTruble/obj/AntiTruble.csproj.nuget.g.props
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.AssemblyInfo.cs
AntiTruble.Equipment/obj/AntiTruble.Equipment.csproj.nuget.g.targets
AntiTruble.Equipment/obj/AntiTruble.Equipment.csproj.nuget.g.props
AntiTruble.Equipment/obj/AntiTruble.Equipment.csproj.nuget.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.csprojAssemblyReference.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.csproj.CoreCompileInputs.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.assets.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.RazorAssemblyInfo.cs
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.RazorAssemblyInfo.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.AssemblyInfoInputs.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AntiTruble.Equipment/obj/project.assets.json
AntiTruble.Person/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AntiTruble.Person/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AntiTruble.Person/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AntiTruble.Person/obj/project.assets.json
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.csprojAssemblyReference.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.csproj.CoreCompileInputs.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.assets.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.RazorAssemblyInfo.cs
AntiTruble.Person/obj/AntiTruble.Person.csproj.nuget.g.props
AntiTruble.Person/obj/AntiTruble.Person.csproj.nuget.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.RazorAssemblyInfo.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.AssemblyInfoInputs.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.AssemblyInfo.cs
AntiTruble.Person/obj/AntiTruble.Person.csproj.nuget.g.targets
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.AssemblyInfoInputs.cache
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.AssemblyInfo.cs
AntiTruble.Repairs/obj/AntiTruble.Repairs.csproj.nuget.g.targets
AntiTruble.Repairs/obj/AntiTruble.Repairs.csproj.nuget.g.props
AntiTruble.Repairs/obj/AntiTruble.Repairs.csproj.nuget.cache
AntiTruble.Repairs/obj/project.assets.json
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.csprojAssemblyReference.cache
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.csproj.CoreCompileInputs.cache
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.assets.cache
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.RazorAssemblyInfo.cs
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.RazorAssemblyInfo.cache
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.runtimeconfig.dev.json
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.pdb
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.dll
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.runtimeconfig.json
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.deps.json
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.pdb
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.dll
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.RazorTargetAssemblyInfo.cache
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.csproj.FileListAbsolute.txt
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.Person.dll
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.Person.deps.json
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.Person.runtimeconfig.json
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.Person.runtimeconfig.dev.json
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.Person.pdb
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.csproj.FileListAbsolute.txt
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.RazorTargetAssemblyInfo.cache
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.RazorTargetAssemblyInfo.cache
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Repairs.pdb
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Repairs.dll
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.dll
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Repairs.runtimeconfig.json
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Repairs.runtimeconfig.dev.json
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Repairs.deps.json
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.pdb
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.csproj.FileListAbsolute.txt
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.pdb
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.dll
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.dll
AntiTruble.Equipment/obj/Debug/netcoreapp2.1/AntiTruble.Equipment.csproj.CopyComplete
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Person.pdb
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.Person.dll
AntiTruble.Repairs/obj/Debug/netcoreapp2.1/AntiTruble.Repairs.csproj.CopyComplete
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Person.pdb
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Person.dll
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.Equipment.pdb
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.dll
AntiTruble.ClassLibrary/obj/project.assets.json
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.pdb
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.dll
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.csprojAssemblyReference.cache
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.csproj.FileListAbsolute.txt
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.csproj.CoreCompileInputs.cache
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.assets.cache
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.AssemblyInfoInputs.cache
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.dll
AntiTruble.Person/obj/Debug/netcoreapp2.1/AntiTruble.Person.csproj.CopyComplete
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.pdb
AntiTruble.Person/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.dll
AntiTruble.Equipment/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.pdb
AntiTruble.Repairs/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.pdb
AntiTruble.ClassLibrary/obj/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.AssemblyInfo.cs
AntiTruble.ClassLibrary/obj/AntiTruble.ClassLibrary.csproj.nuget.g.targets
AntiTruble.ClassLibrary/obj/AntiTruble.ClassLibrary.csproj.nuget.g.props
AntiTruble.ClassLibrary/obj/AntiTruble.ClassLibrary.csproj.nuget.cache
AntiTruble.ClassLibrary/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.pdb
AntiTruble.ClassLibrary/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.dll
AntiTruble.ClassLibrary/bin/Debug/netcoreapp2.1/AntiTruble.ClassLibrary.deps.json
