@using AntiTruble.Person.JsonModels
@using AntiTruble.ClassLibrary.Enums
@model PersonModel

<h2>Добавление нового пользователя</h2>

<div class="validation" asp-validation-summary="ModelOnly"></div>
<div>
    <br />
    <div class="row">
        <label asp-for="Fio">ФИО</label><br />
        <input id="fioTextBox" type="text" asp-for="Fio" />
        <span asp-validation-for="Fio" />
    </div>
    <br />
    <div class="row">
        <label asp-for="PhoneNumber">Номер телефона</label><br />
        <input id="phoneNumberTextBox" type="text" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" />
    </div>
    <br />
    <div class="row">
        @Html.DropDownList("RoleDDL",
                new SelectList(Enum.GetValues(typeof(PersonTypes))),
                "Роль в системе",
                new { @id = "roleDDL" })
        <span asp-validation-for="Role" />
    </div>
    <br />
    <div class="row">
        <label asp-for="Address">Адрес</label><br />
        <input id="addressTextBox" type="text" asp-for="Address" />
        <span asp-validation-for="Address" />
    </div>
    <div class="row">
        <label asp-for="Password">Пароль</label><br />
        <input id="password" type="text" asp-for="Password" />
        <span asp-validation-for="Password" />
    </div>
    <br />
    <div class="row">
        <button style="width: 176px; height: 30px;" id="addUser" onclick="onClickAddUser()">Добавить</button>
    </div>
</div>
<br />
<script type="text/javascript">

      function onClickAddUser() {
          debugger;
          var urlPath = '@Url.Action("AddUser", "Person")';
          $.ajax({
              type: "POST",
              data: {
                  "PersonId": 0,
                  "Fio": $("#fioTextBox").val(),
                  "PhoneNumber": $("#phoneNumberTextBox").val(),
                  "Address": $("#addressTextBox").val(),
                  "Balance": 0,
                  "Role": $("#roleDDL").val(),
                  "Password": $("#password").val()
              },
              url: urlPath,
              success: function () {
                  window.location.href = '@Url.Action("Users", "Person")';
                  alert("Пользователь добавлен в систему!");
              },
              error: function () {
                  alert("error");
              }
          });
    }

</script>