@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    г. Владимир ул. Большая Московская,71<br />
    офис 21<br />
    ЕЖЕДНЕВНО (10:00-20:00)<br />
    ОГРН 1183702013450 <br />
    ИНН/КПП 3702202395/370201001<br />
    <abbr title="Phone">P:</abbr>
    8-(4922)-600-335
</address>

