@{
    ViewData["Title"] = "Домашняя страница";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="9000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/1488995556_custom.jpg" width="1200" height="500" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://anti-trabl.ru/">
                        Перейти на сайт-визитку
                    </a>
                </p>
            </div>
        </div>
        
        <div class="item">
            <img src="~/images/remont-kompyuterov-ufa-1.jpg" width="1200" height="500" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="https://anti-trabl.ru/">
                    Перейти на сайт-визитку
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/remont-kompyuterov-ufa-2.jpg" width="1200" height="500" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="https://anti-trabl.ru/">
                    Перейти на сайт-визитку
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ustanovka-windows-ufa-3.jpg" width="1200" height="500" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="https://anti-trabl.ru/">
                    Перейти на сайт-визитку
                </a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <font size="7" face="Arial">
        <p align="center">
            <br />

            Наша компания занимается ремонтом компьютеров и ноутбуков любой сложности.

            С нами Вам всегда будет
            <br />
            <br />

            <strong>
                УДОБНО, ЭКОНОМНО и КАЧЕСТВЕННО!

                <br />
                <br />
                СПОКОЙНО
                <br />
            </strong>
            Заключается договор о компьютерной помощи, а также предоставляем гарантии на выполненные работы до 1 года.
            <strong>
                <br />
                <br />
                УДОБНО
            </strong>
            <br />
            <br />
            Из-за слаженной работы, это позволяет выполнить оперативный ремонт за разумные деньги. Мы сами найдем все необходимые комплектующие и программы, без проблем сделаем чистку от пыли ноутбука или ПК.
            <strong>
                <br />
                <br />
                ЭКОНОМНЕЕ
                <br />
                <br />
            </strong>
            Из-за заинтересованности наших постоянных клиентов, цены неизменны с 2016 года.
            <strong>
                <br />
                <br />
                КАЧЕСТВЕННО
            </strong>
            <br />
            <br />
            Потому что бережно относимся к своей репутации и несем ответственность за качество оказываемых услуг

            <br />
            Быстро починим в г. Владимир и Владимирской области

            <br />
            Приедем за 50 мин!

            <br />
            Срочный ремонт компьютеров и телефонов по низким ценам!

            <br />

        </p>
        
    </font>
</div>