@using AntiTruble.Equipment.JsonModels
@using AntiTruble.ClassLibrary.Enums
@model EquipmentParamModel

<h2>Добавление оборудования</h2>
<form asp-action="CreateEquipment" asp-controller="Equipment" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Name">Введите название устройства</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <input hidden="hidden" type="text" value="0" asp-for="Fio" />
            <span hidden="hidden" asp-validation-for="Fio" />
        </div>
        <div>

            @Html.DropDownList("TypeDDL",
                    new SelectList(Enum.GetValues(typeof(EquipmentTypes))),
                    "Тип устройства",
                    new { @class = "form-control" })
            <span asp-validation-for="EquipmentType" />
        </div>
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </div>
</form>